<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.brickendon.hdplus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <meta-data
        android:name="firebase_messaging_auto_init_enabled"
        android:value="false" />

    <meta-data
        android:name="firebase_analytics_collection_enabled"
        android:value="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.brickendon.hdplus.utils.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new_hh_v1"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_new_hh_v1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotDeskAndroid"
        tools:replace="android:allowBackup">

        <activity
            android:name="com.brickendon.hdplus.ui.home.DefaultLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.settings.WhatsNewActiviy"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.settings.HelpPdfViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.chat.FreshChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.teams.TeamMembersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.settings.CountryListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.DeepLinkActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.notify.UserNotifyReqActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.teams.TeamsUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.notify.UserNotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.brickendon.hdplus.ui.teams.ShowProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.brickendon.hdplus.ui.notify.NotificationManageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.brickendon.hdplus.ui.notify.NotificationRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.notify.NotificationCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.wellbeing.NotificationsListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.wellbeing.CovidCertificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.wellbeing.LeaveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.wellbeing.CreateNoticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.wellbeing.TrainingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.teams.UpComingBookingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.wellbeing.ReportAnIssueActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.wellbeing.FireWardensActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.LanguageListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.brickendon.hdplus.ui.wellbeing.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.wellbeing.PersonalHelpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.wellbeing.WorkspaceAssessmentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.wellbeing.WorkspaceSurveyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.wellbeing.WellbeingCommonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.home.ImagePickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.home.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.home.ViewTeamsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.login.pin.LoginPinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.login.pin.CreatePinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.login.GDPRActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.home.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.login.sso.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
<activity
            android:screenOrientation="portrait"
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                &lt;!&ndash;
                    Add in your scheme/host from registered redirect URI
                    note that the leading "/" is required for android:path

                <data
                    android:host="oauth"
                    android:path="/redirect"
                    android:scheme="dream.guys.hotdeskandroid" />
                <data
                    android:host="com.azuresamples.msalandroidapp"
                    android:path="/1wIqXSqBj7w+h11ZifsnqwgyKrY="
                    android:scheme="msauth" />
                    &ndash;&gt;

                <data
                    android:host="dream.guys.hotdeskandroid"
                    android:path="/J3qaYqopn1p9ciZLX8o6GDfAtyU="
                    android:scheme="oauth" />

            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:path="/redirect"
                    android:scheme="com.brickendon.hdplus" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.brickendon.hdplus.example.BottomFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.login.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.login.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.SearchResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.brickendon.hdplus.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:windowTranslucentNavigation="true"
            android:windowTranslucentStatus="true">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dream.guys.hotdeskandroid"
                    android:pathPrefix="/booking"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.brickendon.hdplus.example.DummyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brickendon.hdplus.ui.login.SignInActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name="com.brickendon.hdplus.utils.FirebaseNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
<activity
            android:name=".ui.wellbeing.CovidCertificationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <!-- optional (needed if default theme has no action bar) -->


        <!-- <service android:name="com.raygun.raygun4android.services.CrashReportingPostService"
             android:exported="false"
             android:permission="android.permission.BIND_JOB_SERVICE"
             android:process=":crashreportingpostservice"/>

         <service android:name="com.raygun.raygun4android.services.RUMPostService"
             android:exported="false"
             android:permission="android.permission.BIND_JOB_SERVICE"
             android:process=":rumpostservice" />

         <meta-data android:name="com.raygun.raygun4android.apikey"
             android:value="CugspLkwNEMXZ5APV6vEVA" />-->

    </application>

</manifest>